venv_contact_book
contacts.sqlite
contacts/__pycache__/__init__.cpython-39.pyc
contacts/__pycache__/database.cpython-39.pyc
contacts/__pycache__/main.cpython-39.pyc
contacts/__pycache__/model.cpython-39.pyc
contacts/__pycache__/views.cpython-39.pyc
contacts.sqlite
*.sqlite
*.pyc
output.pdf
test_form.odt
contacts.sqlite
run.bat